<%= form_with(model: tweet, html: { class: "bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" }) do |form| %>
  <% if tweet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tweet.errors.count, "error") %> prohibited this tweet from being saved:</h2>

      <ul>
        <% tweet.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="shadow appearance-none border border-red-500 rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline">
    <%= form.label :body %>
    <%= form.text_area :body, placeholder: "Tweet ya rebel scum" %>
  </div>

  <div class="flex">
    <div class="w-1/2 bg-gray-200 h-12">
      <span>0 Characters</span>
    </div>
    <div class="w-1/2 bg-gray-100 h-12 text-right"> 
      <%= form.submit class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
    </div>
  </div>
<% end %>
