<div id="<%= dom_id(tweet) %>" class="max-w-sm rounded overflow-hidden shadow-lg" data-controller="inline-edit">
  <div class="px-6 py-4">
    <div class="font-bold text-xl mb-2"><%= tweet.user.full_name %></div>
    <p class="text-gray-500 text-sm">created <%= time_ago_in_words tweet.created_at %> ago</p>

     <div data-target="inline-edit.body" data-action="click->inline-edit#toggle"> <%= tweet.body %></div>
     <%= render 'form', tweet: tweet, class: "hidden" %>
   
  </div>
  <img class="w-full" src="http://placehold.it/300x150" alt="Sunset in the mountains">
</div>